.header{
    display: flex;
    justify-content:space-between;
    background-color: var(--black);
    outline: 1px solid blue;
}

.header-logo{


}

/* .header-nav {
    display: none;
} */

.header-menu{
    display: flex;
    align-items: center;
    width: 30px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

@media (min-width : 768px) {
    .header¨{
        display: flex;
        justify-content: space-between;
        background-color:var (--black);
        height: 75px;
        padding: 0 15px;

    }
    .header-logo {
        display: flex;
        align-items: center;
    }

    .header-nav {
        display: flex;
        align-items: center;
        width: 420px;
    }

    .header-nav ul {
        list-style: none;
        width: 220px;
        display: flex;
        justify-content: space-between;
    }

    .header-menu{
        display: none;
    }

    .header-nav li > a{
        text-decoration: none;
        color: var(--white);
    
    }
}

.footer-logo {
    display: flex;
    justify-content:space-between;
    background-color: var(--black);
    outline: 1px solid blue;  
}

.footer-redes {
    display: flex;
    align-items: center;
    width: 30px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;

}